.row
  .header-img.red
    %h2.title About Me
.row
  .card.col-xs-4
    .hidden-xs
      = fa_icon 'github'
      = link_to 'GitHub', 'https://www.github.com/ncultimate'
    .visible-xs
      = link_to fa_icon('github'), 'https://www.github.com/ncultimate'
  .card.col-xs-4
    .hidden-xs
      = fa_icon 'twitter'
      = link_to 'Twitter', 'https://twitter.com/hi_jklmn'
    .visible-xs
      = link_to fa_icon('twitter'), 'https://twitter.com/hi_jklmn'
  .card.col-xs-4
    .hidden-xs
      = fa_icon 'linkedin'
      = link_to 'LinkedIn', 'https://www.linkedin.com/in/joseph-klemen-450a8480'
    .visible-xs
      = link_to fa_icon('linkedin'), 'https://www.linkedin.com/in/joseph-klemen-450a8480'
.row
  .card.me.col-xs-3.col-md-2
    = image_tag 'me'
  .card.title.col-xs-9.col-md-10
    %h1 Joseph M. Klemen
    %h2 Front-end Developer
    %p Purdue University, Class of 2015
    %p MS, BS - Computer Science
%hr
.row.icon-text
  .col-sm-8.col-xs-12.text
    %h4 Programming Interests
    %ul
      %li CSS Animations, SVG libraries, and other methods of web visualization.
      %li Writing DSLs with Yacc/Bison and Lex/Flex, especially ones that serve a very specific useless purpose.
      %li Code Golfing and Regex Golfing. I enjoy the challenge of writing perversely short code for the sake of competition.
  .col-sm-4.hidden-xs.icon
    = fa_icon 'code'
%hr
.row.icon-text
  .col-sm-4.hidden-xs.icon
    = fa_icon 'bicycle'
  .col-sm-8.col-xs-12.text
    %h4 Hobbies
    %ul
      %li Movies and Video Games. Speed running through indie horror games is always a good time.
      %li Running, Biking, Disc Golf and Ultimate Frisbee. Nothing cleanses the soul like throwing a frisbee as hard or as far as you can.
      %li Board Games of all varieties. Betrayal at House on the Hill and Sentinels of the Multiverse are my favorites.
%hr
.row.icon-text
  .col-sm-8.col-xs-12.text
    %h4 Academic Interests
    %ul
      %li Pretty much any proceeding of the International Conference on Fun with Algorithms.
      %li Compilers, Parsers, Lexers, and everything in between. 
      %li Code analysis techniques such as Dynamic Slicing, Symbolic Execution, Profiling, and Test Generation. 
  .col-sm-4.hidden-xs.icon
    = fa_icon 'graduation-cap'
%hr
%footer