.row
  .header-img.red
    %h2.title About Me
.row
  .card.col-xs-4
    .hidden-xs
      = fa_icon 'github'
      = link_to 'GitHub', 'https://www.github.com/ncultimate'
    .visible-xs
      = link_to fa_icon('github'), 'https://www.github.com/ncultimate'
  .card.col-xs-4
    .hidden-xs
      = fa_icon 'twitter'
      = link_to 'Twitter', 'https://twitter.com/hi_jklmn'
    .visible-xs
      = link_to fa_icon('twitter'), 'https://twitter.com/hi_jklmn'
  .card.col-xs-4
    .hidden-xs
      = fa_icon 'linkedin'
      = link_to 'LinkedIn', 'https://www.linkedin.com/in/joseph-klemen-450a8480'
    .visible-xs
      = link_to fa_icon('linkedin'), 'https://www.linkedin.com/in/joseph-klemen-450a8480'
.row
  .card.me.col-xs-3.col-md-2
    = image_tag 'me'
  .card.title.col-xs-9.col-md-10
    %p Joseph M. Klemen
    %p Purdue University, Class of 2015
    %p MS, BS - Computer Science